.owner.formgroup {
  display: flex;
  align-items: center;
}

.formgroup {
  margin-bottom: 1rem;
}

.parents-refs {
  display: flex;
  flex-direction: column;
}
.parents-refs > button {
  align-self: center;
}

span.optional {
  flex: 1;
}
.check-owner {
  flex: 1;
  flex-grow: 0;
}
button.delete-parent {
  flex: 1 1;
  flex-grow: 0;
  margin-left: 1rem;
  padding: 4px;
  border: none;
  background-color: #f74949;
  border-radius: 5px;
  color: white;
}

button.add {
  border: none;
  padding: 0.5rem;
  margin-top: 10px;
  background-color: #0da9db;
  color: white;
  font-weight: 500;
  border-radius: 8px;
}

.search .text-toggle {
  display: flex;
  align-items: center;
}

.search .text-toggle span.text {
  margin-right: 1rem;
}
/* new */
.parent-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.parents {
  max-height: 174px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 1rem;
}

.parents::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary);
}

.parents::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.parents::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

@media screen and (max-height: 575px) {
  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
